other/**
old_code/**
figs/**
debug**
databases/**
.vscode/**
.pytest_cache/**
.mypy_cache/**
*tsv
*pkl
*fastq
*/__pycache__**
*.code-workspace
**swp
**/*gz
.vscode/launch.json
strainr_plus.code-workspace
notebooks/classifier.py
notebooks/fcluster.ipynb
notebooks/test_clustering.ipynb
notebooks/test_mpqueue.py
notebooks/classifier.py
notebooks/test_clustering.ipynb
notebooks/test_clustering.ipynb
